@import "variables";

.ranger {
    width: 100%;
    height:$ranger-height;
    border-radius: 4px;
    background-color: #ddd;
    position: relative;

    &__button {
        position: absolute;
        top: 50%;
        width: $button-width;
        height: 25px;
        cursor: move;
        transform: translateY(-50%);
        border: none;
        background-color: #999;
        z-index: 10;
        &::after {
            display: none;
            width: 30px;
            height: 30px;
            content: attr(data-tip);
            box-sizing: border-box;
            padding-top: 7px;
            border: 1px solid green;
            top: -35px;
            left: -10px;
            position: absolute;
        }
    }
    &__button-tip {
        &::after {
            display: block;
            width: 30px;
            height: 30px;
            content: attr(data-tip);
            box-sizing: border-box;
            padding-top: 7px;
            border: 1px solid green;
            top: -35px;
            left: -10px;
            position: absolute;
        }
    }

    &__interval {
        position: absolute;
        height: 5px;
        width:0px;
        margin-top:3px;
        border: none;
        background-color: #559933;        
    }

    &__scale {
        margin-top:10px;
        height: 30px;
        width: 100%; 
        display: flex;  
        justify-content: space-between;
        &-span {
            border: 1px solid gray;
            position: relative;
        }      
    }
    &__scale-division {
        position: absolute;
        margin-top:-14px;
        height: 30px;
        width: 100%; 
        display: flex;  
        justify-content: space-between; 
        &-span {
            width: 2px;
            height: 20px;
            background-color: salmon;
        }       
    }
}




.ranger-vert {
    width:10px;
    height: $ranger-width;
    border-radius: 4px;
    background-color: #ddd;
    position: relative;

    &__button {
        position: absolute;
        top: 0;
        left: -9px;
        width: 25px;
        height: 10px;
        cursor: move;
        transform: translateY(-50%);
        border: none;
        background-color: #999;
        z-index: 10;
        &::after {
            display: none;
            width: 30px;
            height: 30px;
            content: attr(data-tip);
            box-sizing: border-box;
            padding-top: 7px;
            border: 1px solid green;
            top: -35px;
            left: -10px;
            position: absolute;
        }
    }
    &__button-tip {
        &::after {
            display: block;
            width: 30px;
            height: 30px;
            content: attr(data-tip);
            box-sizing: border-box;
            padding-top: 7px;
            border: 1px solid green;
            top: -10px;
            left: -38px;
            position: absolute;
        }
    }

    &__interval {
        position: absolute;
        height: 0px;
        width: 5px;
        margin-top:3px;
        border: none;
        background-color: #559933;        
    }

    &__scale {
        margin-top: 0px;
        margin-left: 10px;
        height: $ranger-width;
        width: 30px; 
        display: flex;
        flex-direction: column-reverse;  
        justify-content: space-between;
        &-span {
            border: 1px solid gray;
            position: relative;
        }      
    }
    &__scale-division {
        position: absolute;
        flex-direction: column-reverse;
        margin-top: 0px;
        margin-left: -5px;
        height: $ranger-width;
        width: 30px; 
        display: flex;  
        justify-content: space-between; 
        &-span {
            width: 20px;
            height: 2px;
            background-color: salmon;
        }       
    }
}